*, :after, :before {
    box-sizing: border-box;
}

:root {
    --border-color: #cbcbcb;
    --dim-color: #949494;
    --bg-gray-color: #eeeeee;
    --gray-shadow: #cdcdcd;
}

body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body{
    width: 510px;
    max-height: 600px;
    font-size: 12px;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.d-block{
    display: block;
}
.d-flex {
    display: flex!important;
}
.d-none{
    display: none;
}
.form-group {
    margin-bottom: 13px;
}
label {
    display: inline-block;
}
.form-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
}
.form-control{
    padding: .175rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #000;
    width: 100%;
}
.form-control:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.form-text{
    font-size: .975em;
    color: var(--dim-color);
    margin-top: .25rem;
}

.form-check{
    display: block;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    color-adjust: exact;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.form-inline .form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
}
.input-group>.form-control {
    position: relative;
    padding-right: 1.3rem;
    min-width: 0;
}
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: var(--dim-color);
    text-align: center;
    white-space: nowrap;
    padding: 0.175rem;
    position: absolute;
    right: 2px;
    height: 100%;
}

/**
* hint
*/
/* .label-hint {
    position: relative;
} */
.hint{
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    margin-left: 2px;
    display: inline-block;    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='%23616977' id='help_2_'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm1-6.02c0-.02.02-.03.08-.05l.17-.1.22-.1c1-.54 1.53-1.27 1.53-2.59A3.07 3.07 0 0 0 8 3C6.38 3 5 4.02 5 5.5a1 1 0 0 0 2 0c0-.22.38-.5 1-.5.54 0 1 .5 1 1.14 0 .5-.08.6-.47.82l-.2.1C7.45 7.52 7 8.01 7 9a1 1 0 1 0 2-.02ZM9 12a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");    
}
.hint span{
    position: absolute;
    margin-top: 20px;
    margin-left: 0;
    left: 0;
    font-size: 12px;
    padding: 8px;
    background: var(--bg-gray-color);
    display: none;
    box-shadow: 0px 2px 4px var(--gray-shadow);
    line-height: 18px;
    z-index: 1;
    contain: layout;
    border: 1px solid var(--border-color);
    width: 400px;
    font-weight: normal;
}
.hint:hover {
    cursor: pointer;
}
.hint:hover span {
    display:inline-block;
}

/**
* Кнопки
*/
.btn {
    background: #eee;
    border: 1px solid #939393;
    cursor: pointer;
    padding: .275rem .475rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.btn-sm {
    padding: 0.125rem 0.25rem;
    line-height: 1;
}
.btn:hover{
    background: #e0e0e0;
    border-color: #646464;
}

.btn-secondary {
    color: #767676;
    background-color: #eeeeee;
    border-color: #d0d0d0;
}
.btn-secondary:hover{
    background: #e0e0e0;
    border-color: #aaaaaa;
    color: #4b4b4b;
}

.btn-success {
    background: #199119;
    border-color: #085c08;
    color: white;
}
.btn-success:hover {
    background: #0f790f;
    border-color: #033e03;
    color: white;
}

.btn-danger {
    background: #b63e4c;
    border-color: #340208;
    color: #ffffff;
}
.btn-danger:hover {
    background: #932935;
    border-color: #1e0105;
    color: #ffffff;
}

/**
 * табы
 */
.nav-tabs {
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 10px;
    background: var(--bg-gray-color);
    box-shadow: 0 1px 1px var(--gray-shadow);
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.content-tabs{
    padding: 5px 5px 10px 5px;
}

.b-nav-tab {
    cursor: pointer;
    padding: 4px 8px;
    position: relative;
    color: black;
    text-decoration: none;
    opacity: 0.7;
    border: 1px solid #939393;
}

.b-nav-tab.active {
    z-index: 2;
    font-weight: bold;
    opacity: 1;
    background: #e0e0e0;
    border-color: #646464;
}

.b-tab {
    position: relative;
    display: none;
    z-index: 1;
    padding: 5px 6px 0 5px;
    max-height: 534px;
    overflow-y: auto;
}

.b-tab.active {
    display: block;
}


.b-tab::-webkit-scrollbar {
    width: 10px;
    border-radius: 3px
}
/* Track */
.b-tab::-webkit-scrollbar-track {
    background: #EBEEF0;
    border-radius: 3px
}
/* Handle */
.b-tab::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 3px;
    border: 2px solid #EBEEF0;
}
/* Handle on hover */
.b-tab::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/**
 * Фин. сводка
 */
#reportWindow {
    padding-top: 7px;
}
.top-table{
    display: flex;
    gap: 12px 14px;
    flex-wrap: wrap;
    padding: 0 0 10px;
}
.top-table ul{
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
}
.top-table ul li{
    list-style: none;
}
.top-table ul li .hidden{
    display: none;
    padding: 0 0 5px 0px;
}
.top-table ul li .hidden span{
    color: #ff4e00;
}
.btnShowMore{
    text-decoration: underline;
    cursor: pointer;
}

#reports input[type="datetime-local"] {
    max-width: 176px;
}
.date-sub-panel{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-top: 7px;
}

/**
 * таблица отчетов
 */
.report_table{
    border-collapse: collapse;
    border-width: 1px;
    width: 100%;
}
.report_table th{
    font-weight: bold;
}

.report_table td,
.report_table th{
    padding: .1rem .25rem;
    border-width: 1px;
    border-color: var(--border-color);
    border-style: solid;
    text-align: left;
}
.report_table thead tr{
    background: #eee;
}
.yellow-bg {
    background: #fffcd5;
}
.blue-bg {
    background: #d8e6ff;
}
.purple-bg {
    background-color: #fed8ff;
}
.turquoise-bg {
    background: #d6f0eb;
}
.green-bg {
    background: #d9f4db;
}
.note{
    padding: 2px 0;
    color: #b2b2b2;
}
.note-error{
    color: #ff433d;
    font-weight: bold;
}

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}


th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    margin-left: 2px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

tr.side-sell{
    background: #ffecec;
}
tr.side-buy{
    background: #ecffeb;
}


span.red{
    color: #ff3838;
    font-weight: 500;
}

/**
* Лента сделок
*/
.printsStats{

}
.printsStats__headline{

}
.printsStats__percentage{
    background-color: #e73f53;
    width: 100%;
    border-radius: 15px;
}
.printsStats__percentagej-buy{
    background-color: #74c25c;
    color: white;
    border-radius: 15px 0 0 15px;
    height: 7px;
}

/**
 * Тикеры
 */
#groupTickersList{
    width: 100%;
    resize: vertical;
    min-height: 180px;
}

/**
 * grid
 */
.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
.col {
    flex: 1 0 0%;
}
.row-cols-auto > * {
    flex: 0 0 auto;
    width: auto;
}

.row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
}

.row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
}

.row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
}

.row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%;
}

.row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
}

.row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
}
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.g-0,
.gx-0 {
    --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
    --bs-gutter-y: 0;
}

.g-1,
.gx-1 {
    --bs-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
    --bs-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
    --bs-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
    --bs-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
    --bs-gutter-x: 1rem;
}

.g-3,
.gy-3 {
    --bs-gutter-y: 1rem;
}

.g-4,
.gx-4 {
    --bs-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
    --bs-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
    --bs-gutter-x: 3rem;
}

.g-5,
.gy-5 {
    --bs-gutter-y: 3rem;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}


.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}